<style>
    .modal-body,
    .modal-header,
    .modal-footer,
    .btn-outline-success {
        background-color: #212121;
    }
</style>

<!-- Modal Más Info -->
<div class="modal fade" id="Modal-MoreInfo-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ item.name }}
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmar Compra -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    <!-- -->
                    {{ item.name }}
                </h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {{ purchase_form.hidden_tag() }}
                    <h4 class="text-center">
                        Estás seguro que quieres comprar {{ item.name }} por ${{ item.price }} ?
                    </h4>
                    <br>
                    <h6 class="text-center">
                        Comprarás este item haciendo click en el botón comprar. 
                    </h6>
                    <br>
                    <input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.name }}">
                    <div class="d-grid mx-auto">
                        {{ purchase_form.submit(class="bnt btn-outline-success btn-lg") }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>