{% extends 'base.html' %}

{% block title %}
    Bienenvenidos a Leonidas Asprilla Coding Market
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color: white;">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Leonidas Asprilla Coding Market</h1>
            <p class="lead font-weight-normal">Empieza comprando productos haciendo click en el link inferior</p>
            <div class="d-grid mx-auto">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('market_page') }}">Empieza ya!</a>
            </div>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}